.idea/*
bin/tomita
bin/server
config/config.yml
tomita/price/config.proto
tomita/price/dict.gzt.bin
tomita/price/article/price.bin
tomita/type/config.proto
tomita/type/dict.gzt.bin
tomita/type/article/err.bin
tomita/type/article/neighbor.bin
tomita/type/article/realty.bin
tomita/type/article/rent.bin
tomita/type/article/resident.bin
tomita/type/article/wrong.bin
