.idea/*
config/config.yml
/tomita/area/config.proto
/tomita/contact/config.proto
/tomita/price/config.proto
/tomita/type/config.proto
/tomita/area/dict.gzt.bin
/tomita/contact/dict.gzt.bin
/tomita/price/dict.gzt.bin
/tomita/type/dict.gzt.bin
/tomita/area/article/area.bin
/tomita/contact/article/contact.bin
/tomita/price/article/price.bin
/tomita/type/article/err.bin
/tomita/type/article/neighbor.bin
/tomita/type/article/realty.bin
/tomita/type/article/rent.bin
/tomita/type/article/resident.bin
/tomita/type/article/wrong.bin
/bin/tomita
/bin/main
