encoding "utf8";

TTextMinerConfig {

  Dictionary = "/path/to/tomita/price/dict.gzt";

  Output = {
        Format = xml;
  }

  Articles = [
        { Name = "article_price" }
         ]

  Facts = [
        { Name = "FactPrice" }
          ]
}