encoding "utf8";

TTextMinerConfig {

  Dictionary = "/go/src/rent-parser/tomita/price/dict.gzt";

  Output = {
        Format = xml;
  }

  Articles = [
        { Name = "article_price" }
         ]

  Facts = [
        { Name = "FactPrice" }
          ]
}