server.host: '0.0.0.0'
server.port: '9080'
tomita.bin: '/go/src/rent-parser/bin/tomita'
tomita.conf.type: '/go/src/rent-parser/tomita/type/config.proto'
tomita.conf.price: '/go/src/rent-parser/tomita/price/config.proto'
