encoding "utf8";

TTextMinerConfig {

    Dictionary = "/path/to/tomita/contact/dict.gzt";

    Output = {
        Format = xml;
    }

    PrettyOutput = "pretty.html"
    PrintTree="tree.txt";
    PrintRules="rules.txt";

    Articles = [
       { Name = "article_contact" }
    ]

    Facts = [
       { Name = "FactContact" }
    ]
}